html, body { position: relative; font-family: "Microsoft Yahei", sans-serif, serif; font-size: 100px; margin: 0; padding: 0; width: 100%; overflow-x: hidden; }

body { font-size: 0.12rem; color: #333333; }

input:not([type]), input[type=text], input[type=email], input[type=password], input[type=tel], select, textarea { font-size: inherit; font-family: inherit; border: none; outline: none; background: transparent; margin: 0; padding: 0; height: 100%; line-height: normal; color: inherit; border-radius: 0; -webkit-tap-highlight-color: transparent; }

textarea { resize: none; line-height: 1.5em; }

a { text-decoration: none; color: inherit; }

.clear-float { display: block; clear: both; width: 0; height: 0; }

.swiper-container { background: #DFDFDF; }

.swiper-container ul { margin: 0; padding: 0; list-style: none; }

.swiper-container li { float: left; }

.swiper-container div.img-wrapper { height: 100%; overflow: hidden; }

.swiper-container div.img-wrapper:after { display: inline-block; content: " "; height: 100%; width: 0; vertical-align: middle; }

.swiper-container img { width: 100%; max-height: 100%; vertical-align: middle; }

.banner-wrapper { position: relative; }

.banner-wrapper .pagination { position: absolute; z-index: 1; bottom: 0.1rem; left: 50%; margin-left: -0.33rem; width: 0.66rem; text-align: center; }

.banner-wrapper .swiper-pagination-bullet { display: inline-block; width: 0.05rem; height: 0.05rem; border-radius: 5px; background: #fff; margin: 0 0.02rem; opacity: 0.8; cursor: pointer; }

.banner-wrapper .swiper-pagination-bullet-active { background: #FF6600; }

html, body { position: relative; font-family: "Microsoft Yahei", sans-serif, serif; font-size: 100px; margin: 0; padding: 0; width: 100%; overflow-x: hidden; }

body { font-size: 0.12rem; color: #333333; }

input:not([type]), input[type=text], input[type=email], input[type=password], input[type=tel], select, textarea { font-size: inherit; font-family: inherit; border: none; outline: none; background: transparent; margin: 0; padding: 0; height: 100%; line-height: normal; color: inherit; border-radius: 0; -webkit-tap-highlight-color: transparent; }

textarea { resize: none; line-height: 1.5em; }

a { text-decoration: none; color: inherit; }

.clear-float { display: block; clear: both; width: 0; height: 0; }

.swiper-container { background: #DFDFDF; }

.swiper-container ul { margin: 0; padding: 0; list-style: none; }

.swiper-container li { float: left; }

.swiper-container div.img-wrapper { height: 100%; overflow: hidden; }

.swiper-container div.img-wrapper:after { display: inline-block; content: " "; height: 100%; width: 0; vertical-align: middle; }

.swiper-container img { width: 100%; max-height: 100%; vertical-align: middle; }

.banner-wrapper { position: relative; }

.banner-wrapper .pagination { position: absolute; z-index: 1; bottom: 0.1rem; left: 50%; margin-left: -0.33rem; width: 0.66rem; text-align: center; }

.banner-wrapper .swiper-pagination-bullet { display: inline-block; width: 0.05rem; height: 0.05rem; border-radius: 5px; background: #fff; margin: 0 0.02rem; opacity: 0.8; cursor: pointer; }

.banner-wrapper .swiper-pagination-bullet-active { background: #FF6600; }

@-webkit-keyframes fadeIn { from { opacity: 0.3; }
  to { opacity: 1; } }

@-moz-keyframes fadeIn { from { opacity: 0.3; }
  to { opacity: 1; } }

@-ms-keyframes fadeIn { from { opacity: 0.3; }
  to { opacity: 1; } }

@-o-keyframes fadeIn { from { opacity: 0.3; }
  to { opacity: 1; } }

@keyframes fadeIn { from { opacity: 0.3; }
  to { opacity: 1; } }

@-webkit-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0.3; } }

@-moz-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0.3; } }

@-ms-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0.3; } }

@-o-keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0.3; } }

@keyframes fadeOut { from { opacity: 1; }
  to { opacity: 0.3; } }

@-webkit-keyframes hide2left { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }

@-moz-keyframes hide2left { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }

@-ms-keyframes hide2left { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0); -moz-transform: translate3d(0, 0, 0) translate(0, 0); -ms-transform: translate3d(0, 0, 0) translate(0, 0); -o-transform: translate3d(0, 0, 0) translate(0, 0); transform: translate3d(0, 0, 0) translate(0, 0); opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0); -moz-transform: translate3d(0, 0, 0) translate(-100%, 0); -ms-transform: translate3d(0, 0, 0) translate(-100%, 0); -o-transform: translate3d(0, 0, 0) translate(-100%, 0); transform: translate3d(0, 0, 0) translate(-100%, 0); opacity: 1; } }

@-o-keyframes hide2left { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }

@keyframes hide2left { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }

@-webkit-keyframes show2left { from { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-moz-keyframes show2left { from { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-ms-keyframes show2left { from { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0); -moz-transform: translate3d(0, 0, 0) translate(100%, 0); -ms-transform: translate3d(0, 0, 0) translate(100%, 0); -o-transform: translate3d(0, 0, 0) translate(100%, 0); transform: translate3d(0, 0, 0) translate(100%, 0); opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0); -moz-transform: translate3d(0, 0, 0) translate(0, 0); -ms-transform: translate3d(0, 0, 0) translate(0, 0); -o-transform: translate3d(0, 0, 0) translate(0, 0); transform: translate3d(0, 0, 0) translate(0, 0); opacity: 1; } }

@-o-keyframes show2left { from { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@keyframes show2left { from { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes hide2right { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }

@-moz-keyframes hide2right { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }

@-ms-keyframes hide2right { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0); -moz-transform: translate3d(0, 0, 0) translate(0, 0); -ms-transform: translate3d(0, 0, 0) translate(0, 0); -o-transform: translate3d(0, 0, 0) translate(0, 0); transform: translate3d(0, 0, 0) translate(0, 0); opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0); -moz-transform: translate3d(0, 0, 0) translate(100%, 0); -ms-transform: translate3d(0, 0, 0) translate(100%, 0); -o-transform: translate3d(0, 0, 0) translate(100%, 0); transform: translate3d(0, 0, 0) translate(100%, 0); opacity: 1; } }

@-o-keyframes hide2right { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }

@keyframes hide2right { from { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }

@-webkit-keyframes show2right { from { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-moz-keyframes show2right { from { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-ms-keyframes show2right { from { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0); -moz-transform: translate3d(0, 0, 0) translate(-100%, 0); -ms-transform: translate3d(0, 0, 0) translate(-100%, 0); -o-transform: translate3d(0, 0, 0) translate(-100%, 0); transform: translate3d(0, 0, 0) translate(-100%, 0); opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0); -moz-transform: translate3d(0, 0, 0) translate(0, 0); -ms-transform: translate3d(0, 0, 0) translate(0, 0); -o-transform: translate3d(0, 0, 0) translate(0, 0); transform: translate3d(0, 0, 0) translate(0, 0); opacity: 1; } }

@-o-keyframes show2right { from { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@keyframes show2right { from { -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to { -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes slideUp { from { -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to { -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }

@-moz-keyframes slideUp { from { -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to { -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }

@-ms-keyframes slideUp { from { -webkit-transform: translate3d(0, 0, 0) translateY(100%); -moz-transform: translate3d(0, 0, 0) translateY(100%); -ms-transform: translate3d(0, 0, 0) translateY(100%); -o-transform: translate3d(0, 0, 0) translateY(100%); transform: translate3d(0, 0, 0) translateY(100%); }
  to { -webkit-transform: translate3d(0, 0, 0) translateY(0); -moz-transform: translate3d(0, 0, 0) translateY(0); -ms-transform: translate3d(0, 0, 0) translateY(0); -o-transform: translate3d(0, 0, 0) translateY(0); transform: translate3d(0, 0, 0) translateY(0); } }

@-o-keyframes slideUp { from { -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to { -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }

@keyframes slideUp { from { -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to { -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }

@-webkit-keyframes landIn { from { -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% { -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% { -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-moz-keyframes landIn { from { -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% { -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% { -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-ms-keyframes landIn { from { -webkit-transform: translate3d(0, 0, 1000px); -moz-transform: translate3d(0, 0, 1000px); -ms-transform: translate3d(0, 0, 1000px); -o-transform: translate3d(0, 0, 1000px); transform: translate3d(0, 0, 1000px); }
  15% { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  30% { -webkit-transform: translate3d(0, 0, -100px); -moz-transform: translate3d(0, 0, -100px); -ms-transform: translate3d(0, 0, -100px); -o-transform: translate3d(0, 0, -100px); transform: translate3d(0, 0, -100px); }
  45% { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  60% { -webkit-transform: translate3d(0, 0, 50px); -moz-transform: translate3d(0, 0, 50px); -ms-transform: translate3d(0, 0, 50px); -o-transform: translate3d(0, 0, 50px); transform: translate3d(0, 0, 50px); }
  to { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }

@-o-keyframes landIn { from { -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% { -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% { -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes landIn { from { -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% { -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% { -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to { -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

header { position: relative; height: 0.44rem; line-height: 0.44rem; color: white; text-align: center; font-size: 0.15rem; background-color: #29b482; }

header .nav-back { position: absolute; left: 0; top: 0; display: inline-block; width: 0.54rem; height: 100%; background-image: url(../../common/img/back.png); background-repeat: no-repeat; background-position: center; background-size: 0.2rem auto; }

header .menu { position: absolute; right: 0; top: 0; display: inline-block; width: 0.54rem; height: 100%; background-image: url(../../common/img/menu.png); background-repeat: no-repeat; background-position: center; background-size: 0.2rem auto; }

.viewjs-doc-menu { position: fixed; right: 0; top: 0; background: rgba(0, 0, 0, 0.8); color: white; width: 70%; height: 100%; padding: 1em; box-sizing: border-box; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-animation: show2left ease 0.5s; -moz-animation: show2left ease 0.5s; -o-animation: show2left ease 0.5s; animation: show2left ease 0.5s; }

.viewjs-doc-menu .item { padding: 1em 0; border-bottom: solid 1px #5b5b5b; }

.view > .body { padding: 0.12rem; background: white; overflow: auto; -webkit-overflow-scrolling: touch; box-sizing: border-box; word-wrap: break-word; word-break: break-all; }

p { text-indent: 2em; line-height: 2em; }

p.no-text-indent { text-indent: 0; }

li { line-height: 1.5em; }

.code { background: #CCCCCC; font-family: Consolas, sans-serif, serif; }

span.code { padding: 0.03rem 0.1rem; border-radius: 0.02rem; margin: 0 0.05rem; font-size: 0.1rem; }

span.code.no-margin { margin: 0; }

div.code { position: relative; white-space: pre; padding: 0.1rem; margin: 0.1rem 0; border-radius: 0.05rem; overflow: auto; -webkit-overflow-scrolling: touch; }

div.code[data-filename]:before { display: block; font-style: italic; content: attr(data-filename); padding: 0.1rem 0; color: #999999; border-bottom: solid 1px #BBBBBB; }

.warn { text-decoration: underline; }

.link { color: #29b482; font-style: italic; font-family: Consolas, sans-serif, serif; }

.btn { display: block; margin: 0 0.12rem; border-top: 0.01rem solid #F1F1EF; height: 0.35rem; line-height: 0.35rem; font-size: 0.12rem; box-sizing: border-box; text-align: center; color: #fff; background: #1599E5; }

.btn[disabled=disabled] { color: white; background: #CCCCCC; }

.btn.grey { color: white; background: #D1D1D1; }

footer { padding: 0.1rem 0; }
