@import "base";
@import "common";

.evt-trigger-time, .evt-attached-data, .evt-async, .evt-sample{
	position: relative;
	margin-top: 0.2rem;
	line-height: 2em;

	&:first-child{
		margin-top: 0;
	}

	&:before{
		display: block;
		font-weight: bold;
	}
}
.evt-trigger-time{
	&:before{
		content: "触发时机：";
	}
}
.evt-attached-data{
	&:before{
		content: "附加数据：";
	}
}
.evt-async{
	&:before{
		content: "触发方式：";
	}
}
.evt-sample{
	&:before{
		content: "代码样例：";
	}
}