@import "_base";
@import "lib/animation";

header{
	position: relative;
	height: 0.44rem;
	line-height: 0.44rem;
	color: white;
	text-align: center;
	font-size: 0.15rem;
	background-color: #29b482;
	
	.nav-back{
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		width: 0.54rem;
		height: 100%;
		background-image: url(../img/back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 0.2rem auto;
	}
	.menu{
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		width: 0.54rem;
		height: 100%;
		background-image: url(../img/menu.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 0.2rem auto;
	}
}

.viewjs-doc-menu{
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	width: 70%;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	@include animation(show2left ease 0.5s);

	nav{
		span{
			display: block;
			background: #6acba8;
			margin-top: 0.1rem;
			border-radius: 0.5rem;
			padding: 0.05rem 0.1rem 0.05rem 0.3rem;
			background-image: url(../img/itm.png);
			background-repeat: no-repeat;
			background-position: 0.1rem center;
			background-size: auto 1.2em;
		}
	}

	.menu-items{
		font-family: Consolas, sans-serif, serif;
		word-wrap: break-word;
		word-break: break-all;
	}

	.item{
		padding: 1em 0;
		border-bottom: solid 1px #5b5b5b;
	}
}

.view > .body{
	padding: 0.12rem;
	background: white;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
	word-wrap: break-word;
	word-break: break-all;
}

p{
	text-indent: 2em;
	line-height: 2em;

	&.no-text-indent{
		text-indent: 0;
	}
}
li{
	line-height: 1.5em;
}

.code{
	background: #CCCCCC;
	font-family: Consolas, sans-serif, serif;
}
span.code{
	padding: 0.03rem 0.1rem;
	border-radius: 0.02rem;
	margin: 0 0.05rem;
	font-size: 0.1rem;

	&.no-margin{
		margin: 0;
	}
}
div.code{
	position: relative;
	white-space: pre;
	padding: 0.1rem;
	margin: 0.1rem 0;
	border-radius: 0.05rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	&[data-filename]:before{
		display: block;
		font-style: italic;
		content: attr(data-filename);
		padding: 0.1rem 0;
		color: #999999;
		border-bottom: solid 1px #BBBBBB;
	}
}

.warn{
	text-decoration: underline;
}
.link{
	color: #29b482;
	font-style: italic;
	font-family: Consolas, sans-serif, serif;
}

.btn{
	display: block;
	margin: 0 0.12rem;
	border-top: 0.01rem solid #F1F1EF;
	height: 0.35rem;
	line-height: 0.35rem;
	font-size: 0.12rem;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
	background: #1599E5;

	&[disabled=disabled]{
		color: white;
		background: #CCCCCC;
	}

	&.grey{
		color: white;
		background: #D1D1D1;
	}
}

footer{
	padding: 0.1rem 0;
}

//.view.fade-in{
//	@include animation(fadeIn 0.1s linear);
//}
//.view.fade-out{
//	@include animation(fadeOut 0.1s linear);
//}
//.view.hide2left{
//	@include animation(hide2left 0.35s ease-out);
//}
//.view.show2left{
//	@include animation(show2left 0.35s ease-out);
//}
//.view.hide2right{
//	@include animation(hide2right 0.35s ease-out);
//}
//.view.show2right{
//	@include animation(show2right 0.35s ease-out);
//}
