@import "_base";

html{
	background: #ECECEC;
}
body{
	width: 1000px;
	margin: 0 auto;
	background: white;
	padding: 0.2rem;
}

header{
	position: relative;
	height: 0.44rem;
	line-height: 0.44rem;
	font-size: 0.15rem;
	font-weight: bold;

	.nav-back{
		display: none;
	}
	.menu{
		display: none;
	}
}

.viewjs-doc-menu{
	display: none;
}

footer{
	display: none;
}
