@import "base";
@import "common";

header span{
	display: inline-block;
	max-width: 15em;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Consolas, sans-serif, serif;
}

.api-usage, .api-params, .api-returns{
	position: relative;
	margin-top: 0.2rem;
	line-height: 2em;

	&:first-child{
		margin-top: 0;
	}

	&:before{
		display: block;
		font-weight: bold;
	}
}
.api-usage{
	&:before{
		content: "用途：";
	}
}
.api-params{
	&:before{
		content: "入参：";
	}
}
.api-returns{
	&:before{
		content: "返回：";
	}
}