html, body {
  position: relative;
  font-family: "Microsoft Yahei", sans-serif, serif;
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  font-size: 0.12rem;
  color: #333333;
  overflow: hidden; }

input:not([type]), input[type=text], input[type=email], input[type=password], input[type=tel], select, textarea {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: normal;
  color: inherit;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; }

textarea {
  resize: none;
  line-height: 1.5em; }

a {
  text-decoration: none;
  color: inherit; }

.clear-float {
  display: block;
  clear: both;
  width: 0;
  height: 0; }

p {
  text-indent: 2em;
  line-height: 2em; }
  p.no-text-indent {
    text-indent: 0; }

ol, ul {
  font-size: 0.1rem;
  border: solid 1px #EEEEEE;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  line-height: 2em; }

.code {
  background: #EEEEEE;
  font-size: 0.1rem;
  font-family: Consolas, sans-serif, serif; }

span.code {
  padding: 0.03rem;
  border-radius: 0.02rem;
  margin: 0 0.05rem; }
  span.code.no-margin {
    margin: 0; }

div.code {
  position: relative;
  white-space: pre;
  padding: 0.1rem;
  margin: 0.1rem 0;
  line-height: 1.6em;
  border-radius: 0.05rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  div.code[data-filename]:before {
    display: block;
    font-style: italic;
    content: attr(data-filename);
    padding: 0.1rem 0;
    color: #999999;
    border-bottom: solid 1px #BBBBBB; }

.warn {
  text-decoration: underline; }

.link {
  color: #29b482;
  font-style: italic;
  font-family: Consolas, sans-serif, serif; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.3; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.3; } }
@-ms-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.3; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.3; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0.3; } }
@-webkit-keyframes hide2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }
@-moz-keyframes hide2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }
@-ms-keyframes hide2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }
@-o-keyframes hide2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }
@keyframes hide2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; } }
@-webkit-keyframes show2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-moz-keyframes show2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-ms-keyframes show2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-o-keyframes show2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@keyframes show2left {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes hide2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }
@-moz-keyframes hide2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }
@-ms-keyframes hide2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }
@-o-keyframes hide2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }
@keyframes hide2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(100%, 0);
    transform: translate3d(0, 0, 0) translate(100%, 0);
    opacity: 1; } }
@-webkit-keyframes show2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-moz-keyframes show2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-ms-keyframes show2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-o-keyframes show2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@keyframes show2right {
  from {
    -webkit-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -moz-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -ms-transform: translate3d(0, 0, 0) translate(-100%, 0);
    -o-transform: translate3d(0, 0, 0) translate(-100%, 0);
    transform: translate3d(0, 0, 0) translate(-100%, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0) translate(0, 0);
    -moz-transform: translate3d(0, 0, 0) translate(0, 0);
    -ms-transform: translate3d(0, 0, 0) translate(0, 0);
    -o-transform: translate3d(0, 0, 0) translate(0, 0);
    transform: translate3d(0, 0, 0) translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }
@-moz-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }
@-ms-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }
@-o-keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }
@keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0) translateY(100%);
    -moz-transform: translate3d(0, 0, 0) translateY(100%);
    -ms-transform: translate3d(0, 0, 0) translateY(100%);
    -o-transform: translate3d(0, 0, 0) translateY(100%);
    transform: translate3d(0, 0, 0) translateY(100%); }
  to {
    -webkit-transform: translate3d(0, 0, 0) translateY(0);
    -moz-transform: translate3d(0, 0, 0) translateY(0);
    -ms-transform: translate3d(0, 0, 0) translateY(0);
    -o-transform: translate3d(0, 0, 0) translateY(0);
    transform: translate3d(0, 0, 0) translateY(0); } }
@-webkit-keyframes landIn {
  from {
    -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes landIn {
  from {
    -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes landIn {
  from {
    -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes landIn {
  from {
    -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes landIn {
  from {
    -webkit-transform: translate3d(0, 0, 1000px);
    -moz-transform: translate3d(0, 0, 1000px);
    -ms-transform: translate3d(0, 0, 1000px);
    -o-transform: translate3d(0, 0, 1000px);
    transform: translate3d(0, 0, 1000px); }
  15% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  30% {
    -webkit-transform: translate3d(0, 0, -100px);
    -moz-transform: translate3d(0, 0, -100px);
    -ms-transform: translate3d(0, 0, -100px);
    -o-transform: translate3d(0, 0, -100px);
    transform: translate3d(0, 0, -100px); }
  45% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  60% {
    -webkit-transform: translate3d(0, 0, 50px);
    -moz-transform: translate3d(0, 0, 50px);
    -ms-transform: translate3d(0, 0, 50px);
    -o-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
header {
  position: relative;
  height: 0.44rem;
  line-height: 0.44rem;
  color: white;
  text-align: center;
  font-size: 0.15rem;
  background-color: #29b482; }
  header .nav-back {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 0.54rem;
    height: 100%;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.2rem auto; }
  header .menu {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 0.54rem;
    height: 100%;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.2rem auto; }

.viewjs-doc-menu {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 70%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation: show2left ease 0.5s;
  -moz-animation: show2left ease 0.5s;
  -o-animation: show2left ease 0.5s;
  animation: show2left ease 0.5s; }
  .viewjs-doc-menu nav span {
    display: block;
    background: #6acba8;
    margin-top: 0.1rem;
    border-radius: 0.5rem;
    padding: 0.05rem 0.1rem 0.05rem 0.3rem;
    background-image: url(../img/itm.png);
    background-repeat: no-repeat;
    background-position: 0.1rem center;
    background-size: auto 1.2em; }
  .viewjs-doc-menu .menu-items {
    font-family: Consolas, sans-serif, serif;
    word-wrap: break-word;
    word-break: break-all; }
  .viewjs-doc-menu .item {
    padding: 1em 0;
    border-bottom: solid 1px #5b5b5b; }

.view > .body {
  padding: 0.12rem;
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all; }

.btn {
  display: block;
  margin: 0 0.12rem;
  border-top: 0.01rem solid #F1F1EF;
  height: 0.35rem;
  line-height: 0.35rem;
  font-size: 0.12rem;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background: #1599E5; }
  .btn[disabled=disabled] {
    color: white;
    background: #CCCCCC; }
  .btn.grey {
    color: white;
    background: #D1D1D1; }

footer {
  padding: 0.1rem 0; }

.view.fade-in {
  -webkit-animation: fadeIn 0.1s linear;
  -moz-animation: fadeIn 0.1s linear;
  -o-animation: fadeIn 0.1s linear;
  animation: fadeIn 0.1s linear; }

.view.fade-out {
  -webkit-animation: fadeOut 0.1s linear;
  -moz-animation: fadeOut 0.1s linear;
  -o-animation: fadeOut 0.1s linear;
  animation: fadeOut 0.1s linear; }

.view.hide2left {
  -webkit-animation: hide2left 0.35s ease-out;
  -moz-animation: hide2left 0.35s ease-out;
  -o-animation: hide2left 0.35s ease-out;
  animation: hide2left 0.35s ease-out; }

.view.show2left {
  -webkit-animation: show2left 0.35s ease-out;
  -moz-animation: show2left 0.35s ease-out;
  -o-animation: show2left 0.35s ease-out;
  animation: show2left 0.35s ease-out; }

.view.hide2right {
  -webkit-animation: hide2right 0.35s ease-out;
  -moz-animation: hide2right 0.35s ease-out;
  -o-animation: hide2right 0.35s ease-out;
  animation: hide2right 0.35s ease-out; }

.view.show2right {
  -webkit-animation: show2right 0.35s ease-out;
  -moz-animation: show2right 0.35s ease-out;
  -o-animation: show2right 0.35s ease-out;
  animation: show2right 0.35s ease-out; }

html, body {
  height: 100%; }

#main {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.14rem;
  padding-top: 1rem;
  overflow: auto;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }

.github {
  padding-left: 1.5em;
  font-family: Consolas, sans-serif, serif;
  font-size: 0.16rem;
  color: #6acba8;
  background-image: url(../img/github.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 1em auto;
  cursor: pointer; }
  .github:hover {
    color: #33b084; }

.whoami {
  position: relative;
  font-size: 0.3rem;
  text-align: center;
  font-family: Consolas, sans-serif, serif; }

.version {
  text-align: center;
  font-size: 0.18rem;
  font-family: Consolas, sans-serif, serif;
  color: #999999;
  margin: 0.1rem 0 0.3rem; }

.docs {
  color: white;
  width: 2.4rem;
  margin: 0 auto; }
  .docs:after {
    display: block;
    content: "";
    clear: both; }
  .docs > span {
    display: block;
    background: #6acba8;
    margin-top: 0.1rem;
    border-radius: 0.5rem;
    padding: 0.05rem 0.1rem 0.05rem 0.3rem;
    background-image: url(../img/itm.png);
    background-repeat: no-repeat;
    background-position: 0.1rem center;
    background-size: auto 1.2em; }

.download {
  position: relative;
  margin: 0.4rem 0.2rem 0;
  text-align: center;
  color: white;
  background: #33b084;
  line-height: 0.4rem;
  border-radius: 0.5rem; }

.author, .beian {
  margin-top: 0.1rem;
  width: 100%;
  color: #999999;
  font-size: 0.1rem;
  text-align: center; }

#demos .body {
  padding: 0.1rem 0;
  overflow: auto;
  background-color: transparent;
  -webkit-overflow-scrolling: touch; }
#demos .demo {
  padding: 0 0.1rem;
  line-height: 0.4rem;
  background-color: white; }

/*# sourceMappingURL=index.css.map */
